@model IEnumerable<FinancialAssetsApp.Models.Startup>
@{
    ViewData["Title"] = "Startups";
}

<h2>My Startups</h2>

<p style="font-style: italic; text-align: right">
    To add a startup, you must first add the platform where the shares were purchased
</p>

<div class="container">
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Company Name</th>
                <th>Platform Name</th>
                <th>Purchase Price</th>
                <th>Quantity</th>
                <th>Total Value</th>
                <th>Date Added</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NameCompany</td>
                    <td>@item.NamePlatform</td>
                    <td>@item.Price ₽</td>
                    <td>@item.AmountStock</td>
                    <td>@item.SumStocks ₽</td>
                    <td>@item.DateAddStock.ToString("yyyy-MM-dd")</td>
                    <td>
                        <a asp-action="Delete"
                           asp-route-id="@item.Id"
                           class="btn btn-danger btn-sm">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!--
        <a asp-action="FixSums" class="btn btn-secondary">
            Recalculate old values
        </a>
    -->

    <a asp-action="Create" class="btn btn-primary">
        Add Startup
    </a>
</div>

<h2>Startup Distribution Pie Chart</h2>
<div class="d-flex justify-content-center align-items-start gap-4">
    <div class="text-center">
        <canvas style="width: 450px; height: 450px" id="StartupsPie"></canvas>
        <h3>By Total Value</h3>
    </div>
    <div class="text-center">
        <canvas style="width: 450px; height: 450px" id="StartupCountStocks"></canvas>
        <h3>By Number of Shares</h3>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

