@model IEnumerable<FinancialAssetsApp.Models.PlatformStartup>
@{
    ViewData["Title"] = "Startup Platforms";
    var investedSum = Model.Sum(s => s.SumOfStartups);
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">My Startup Platforms</h2>

        <div class="card text-center shadow-sm">
            <div class="card-body p-3">
                <div class="text-muted small">Invested Value</div>
                <div class="fw-bold fs-5 text-primary" id="investedSum" data-value="@investedSum">
                    @investedSum ₽
                </div>
            </div>
        </div>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Platform Name</th>
                <th>Number of Companies</th>
                <th>Total Investment</th>
                <th>Date Added</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-metals="@item.NamePlatform">
                    <td>@item.NamePlatform</td>
                    <td>@item.AmountCompanies</td>
                    <td>@item.SumOfStartups ₽</td>
                    <td>@item.DateAddStock.ToString("yyyy-MM-dd")</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!--
        <a asp-action="FixSums" class="btn btn-secondary">Recalculate old sums</a> // If a new column is added in DB
    -->

    <a asp-action="Create" class="btn btn-primary">Add Platform</a>
</div>

<h2 class="text-center mb-4">Startup Platform Distribution Pie Chart</h2>
<div class="d-flex justify-content-center align-items-start gap-4">
    <div class="chart-container">
        <canvas style="width: 450px; height: 450px" id="PlatformsPie"></canvas>
        <h3 class="text-center">By Investment Amount</h3>
    </div>
    <div class="chart-container">
        <canvas style="width: 450px; height: 450px" id="PlatformsCount"></canvas>
        <h3 class="text-center">By Number of Companies</h3>
    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
